<!DOCTYPE html>
<html>
<body>
    <h1>Follow-up from {{companyName}}</h1>
    <p>Dear {{customerName}},</p>
    <p>Thank you for your interest in our {{specialties}} services. We hope you found our initial conversation helpful.</p>
    <p>If you have any further questions or would like to proceed with a project, please don't hesitate to contact us at {{phoneNumber}} or reply to this email.</p>
    <p>Our hours of operation are {{hoursOfOperation}}.</p>
    <p>Best regards,<br>{{firstName}} {{lastName}}<br>{{companyName}}</p>
</body>
</html>
